.article_title{
   font-family: 'Roboto', sans-serif;
}

.article_title h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

